!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
*.log
.DS_Store
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources/
.idea/**/dbnavigator.xml
.idea/**/dictionaries
.idea/**/dynamic.xml
.idea/**/shelf
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/usage.statistics.xml
.idea/**/workspace.xml
.pnpm-debug.log*
.yarn/*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

**/coverage
**/dist/
**/lib/
**/logs
**/node_modules/

packages/*/index.js
